<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540202855095-10vfpek583htolndh450bvdmoq0a0gld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540202855095-10vfpek583htolndh450bvdmoq0a0gld</string>
	<key>API_KEY</key>
	<string>AIzaSyDhauzPXSnIOuTnzEnAR4qpZ9D0ZOnYmyY</string>
	<key>GCM_SENDER_ID</key>
	<string>540202855095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handongChapelApp</string>
	<key>PROJECT_ID</key>
	<string>handong-chapel-app</string>
	<key>STORAGE_BUCKET</key>
	<string>handong-chapel-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540202855095:ios:33aa4c450c731e0ab2fb32</string>
</dict>
</plist>